.main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 1rem .5rem ;
}

.title {
    align-self: flex-start;
    text-transform: capitalize;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: var(--secondary-bg);
    border: 2px solid var(--border);
    width: 500px;
    padding: 2rem 1rem;
    border-radius: 10px;

    h2, label {
        text-transform: capitalize;
    }

    label {
        margin-left: .5rem;
    }

    h2 {
        align-self: center;
        color: var(--primary-btn);
    }

    input {
        width: 100%;
        padding: .7rem .7rem;
        font-size: 18px;
        margin-bottom: 1rem;
        border-radius: 5px;
        border: 1px solid var(--border);
        outline: none;
        color: var(--primary-text);
        background-color: var(--tertiary-bg);
    }

    button {
        align-self: center;
        color: var(--primary-text);
        background-color: var(--primary-btn);
        font-size: 20px;
        padding: .5rem 1rem;
        border-radius: 10px;
        border: 1px solid var(--border);
    }
}

.choice {
    border: 2px solid var(--border);
    width: 70%;
    position: relative;
    align-self: center;
    display: flex;
    justify-content: space-around;
    user-select: none;
    border-radius: 10px;
    color: var(--primary-btn);
    margin: 1.5rem 0;
    
    input {
        display: none;
    }
    
    label {
        padding: .5rem 1rem;
        z-index: 11;
        width: 50%;
        height: 100%;
        text-align: center;
        transition: all .2s ease-in-out;
    }

    input[id="login"]:checked ~ div {
        left: 0;
    }

    input[id="login"]:checked + label {
        color : var(--primary-text);
    }

    input[id="signup"]:checked + label {
        color : var(--primary-text);
    }

    input[id="signup"]:checked ~ div {
        left: 50%;
    }

    div {
        position: absolute;
        background-color: var(--primary-btn);
        border-radius: 10px;
        height: 100%;
        width: 50%;
        top: 0;
        transition: all .2s ease-in-out;
    }
}